  body {
    margin: 0;
	background-color: #EEEEEE;
	   }

#block {
  width: 512px;
  margin: 10px auto 30px;
  background-color: white;
  border-width: 1px;
  padding:30px 50px;
  box-shadow:0 0 10px;
}

#block1 {
    text-align: center;
    border-bottom: 1px solid #AAAAAA;
		} 
#left { text-align: left; }

#block2 {
    border-bottom: 1px solid #AAAAAA;
		}
 	